<div class="container-fluid" [ngClass]="[showFullProgress === true ? 'loadWrapper' : '']">
  <div *ngIf="showFullProgress" class="text-center">
    <img class="mx-auto mx-auto d-block" src="../assets/images/loading.gif" />
    <h1>Please wait, It's loading...</h1>
  </div>
  <div *ngIf="!showFullProgress">
    <nav class="navbar">
      <img alt="" src="../assets/images/header-conc.png" class="header-icon">
      <img alt="" src="../assets/images/tm_logo.png" class="TM_logo">
      <img alt="" src="../assets/images/TEL-logo_2.jpg" class="logo text-right">
    </nav>
    <nav aria-label="breadcrumb" *ngIf="leafNode">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">{{nodeId}}</li>
          <li class="breadcrumb-item">{{leafNode}}</li>
          <li class="breadcrumb-item">{{uuid}}</li>
        </ol>
      </nav>

    <div class="row justify-content-center my-3 fullHeight">
      <div class="side col-md-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title text-center network-title">Network</h4>
          </div>
          <div class="panel-body">
            <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl" class="example-tree">
              <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
                <li>
                  <div class="mat-tree-node">
                     <div mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename" [ngClass]="[node.type == '3' ? 'text-overflow3' : 'text-overflow2']"
                      matTooltip="{{node.filename}}" matTooltipPosition="above">
                      <a href="#" disabled *ngIf="node.lastNode; else elseBlock" (click)="showRightPanel(node.filename, node.NENode)">{{node.filename}}</a>
                      <ng-template #elseBlock>{{node.filename}}</ng-template>
                    </div>
                  </div>
                  <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                  </ul>
                </li>
              </mat-nested-tree-node>
            </mat-tree>
          </div>
        </div>
      </div>
      <!-- RIGHT PANEL START -->
      <div class="main col-md-8" [ngClass]="[showProgress === true ? 'loadWrapper' : '']">
          <!-- this.otsiInterfaceConfiguration ==>> {{otsiInterfaceConfiguration | json}} -->
        <img class="showProgress  mx-auto mx-auto d-block" *ngIf="showProgress" src="../assets/images/loading.gif" />
        <div class="" *ngIf="showRight">
          <!-- SECOND BOX START -->
          <div class="col-md-12 mb-3 py-3 threed">
            <h5 class="panel-title">Laser State</h5>
            <div class="row">
              <div class="col-md-5 text-left">
                <div class="rounded border border-custom p-2 py-3">
                  <label>Laser On / Off</label>
                  <div class="row px-3">
                    <div class="col-md-8 px-0 text-left">
                      <input type="text" class="form-control form-control-sm" value="{{rhsServiceData.laserState.status}}"
                        disabled>
                    </div>
                    <div class="col-md-* px-1 text-left">
                      <div class="mt-1" [ngClass]="[rhsServiceData.laserState.status === 'ON' ? 'ON' : rhsServiceData.laserState.status === 'OFF' ? 'OFF' : 'PULSING']"></div>
                    </div>
                    <div class="col-md-2 text-left">
                      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Change</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- SECOND BOX END -->
          <!-- THIRD BOX START -->
          <div class="col-md-12 my-4 py-3 threed">
            <div class="row">
              <div class="col-md-4 pl-4 pr-0">
                <h5 class="panel-title mb-4">Optical Power</h5>
                <div class="row">
                  <div class="col-md-2  px-1"></div>
                  <div class="col-md-3 px-1">Power</div>
                  <div class="col-md-6 px-1">Threshold</div>
                </div>
                <div class="row py-1">
                  <div class="col-md-2 px-1"></div>
                  <div class="col-md-3 px-1"></div>
                  <div class="col-md-3 px-1 text-center">min</div>
                  <div class="col-md-3 px-1 text-center">max</div>
                </div>
                <div class="row">
                  <div class=col-md-1></div>
                  <div class="col-md-1 px-1 mt-1">RX</div>
                  <div class="col-md-3 px-1">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.RxTotalPower"
                      disabled>
                  </div>
                  <div class="col-md-3 px-1">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.totalPowerWarnThresholdLower"
                      disabled>
                  </div>
                  <div class="col-md-3 px-1">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.totalPowerWarnThresholdUpper"
                      disabled>
                  </div>
                </div>
                <div class="row py-1">
                  <div class=col-md-1></div>
                  <div class="col-md-1 px-1">TX</div>
                  <div class="col-md-3 px-1">
                    <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.tx.TXTotalPower"
                      disabled>
                  </div>
                  <div class="col-md-6 px-1">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-6 px-1">
                    <label>Unit = dBm</label>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row mt-3">
                  <div class="col-md-4 px-0">
                    <!-- <button class="btn btn-success btn-sm mt-1" (click)="startTimer('manualRefresh')">Refresh</button> -->
                    <label class="autoRefreshEnable mt-1 ml-2">Automatic Refresh : {{counter}} secs</label>
                  </div>
                  <div class="col-md-5 px-0 text-right mr-1">
                    <label class="mt-1">Change refresh interval (seconds): </label>
                  </div>
                  <div class="col-md-2 px-0">
                    <select class="form-control form-control-sm" (change)="onChangeRefreshInt($event.target.value)">
                      <option [value]="refreshInterval" *ngFor="let refreshInterval of refreshIntervals">{{refreshInterval}}</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-2 mr-0 pl-0 pr-1 text-center">
                  <div class="col-md-7 rounded border border-custom p-2 pr-3 ml-2">
                    <h6 class="panel-title">Laser</h6>
                    <div class="row">
                      <div class="col-md-2 pt-5">TX</div>
                      <div class="col-md-5 pr-2 pl-3 mx-0">
                        <div class="rounded border border-custom p-2">
                          <div class="row">
                            <div class="col-md-8 pr-0">
                              <label>Bias</label>
                              <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.tx.laserBiasCurrent"
                                disabled>
                            </div>
                            <div class="col-md-2 px-1 mt-4 pt-3">mA</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-5 pr-2 pl-0 pr-0 mx-0">
                        <div class="rounded border border-custom p-2">
                          <div class="row">
                            <div class="col-md-8 pr-0">
                              <label>Temperature</label>
                              <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.tx.laserTemperature"
                                disabled>
                            </div>
                            <div class="col-md-1 px-1 mt-4 pt-3">&deg;C</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 rounded border border-custom p-2 ml-3">
                    <h6 class="panel-title">Treshold Configuration</h6>
                    <div class="row p-2">
                      <div class="col-md-6">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#RXMinModal">RX min</button>
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#RXMaxModal">RX max</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- THIRD BOX END -->
          <!-- FOURTH BOX START -->
          <div class="col-md-12 mt-0 py-3 threed">
            <!-- FOURTH->FIRST BOX START -->
            <div class="row mx-0 mt-2 py-3 rounded shadow-container">
              <div class="col-md-2 text-left font-weight-bold">
                <h5 class="panel-title">Wavelength</h5>
              </div>
              <div class="col-md-3 mr-2 ml-3 text-center rounded border border-custom p-2">
                <label>Lambda</label>
                <div class="row px-3">
                  <div class="col-10 px-0">
                    <input type="text" class="form-control form-control-sm" value="{{rhsServiceData.wavelength.lambda}}"
                      disabled>
                  </div>
                  <div class="col-2 px-1 pt-1 text-left">nm</div>
                </div>
              </div>
              <div class="col-md-3 mx-2 text-center rounded border border-custom p-2">
                <label>Frequency</label>
                <div class="row px-3">
                  <div class="col-10 px-0">
                    <input type="text" class="form-control form-control-sm" value="{{rhsServiceData.wavelength.frequency}}"
                      disabled>
                  </div>
                  <div class="col-2 px-1 pt-1 text-left">THz</div>
                </div>
              </div>
              <div class="col-md-3 mx-2 text-center rounded border border-custom p-2">
                <label>Channel Nr.</label>
                <input type="text" class="form-control form-control-sm" value="{{rhsServiceData.wavelength.channelNr}}"
                  disabled>
              </div>
            </div>
            <!-- FOURTH->FIRST BOX END -->
            <!-- FOURTH->THIRD BOX START -->
            <div class="row mx-0 mt-3 mb-1 py-3 rounded shadow-container">
              <div class="col-5">
                <h5 class="align-middle">Performance</h5>
                <br />
                <button *ngIf="autoRefreshEnable" class="btn btn-success btn-sm" (click)="startTimerPerformance()">Refresh</button>
                <br />
                <input type="checkbox" id="autoRefresh" [ngModel]="autoRefreshEnable" (ngModelChange)="autoRefresh($event)"
                  class="mt-2">
                <label [ngClass]="[autoRefreshEnable == true ? 'autoRefreshEnable' : 'autoRefreshDisable']">
                  Automatic Refresh: {{minutes}} minutes {{seconds}} seconds</label>
              </div>
              <div class="col-* text-right mr-2">
                <label class="mt-5">Bits</label>
                <br />
                <label class="mt-2">Bytes</label>
              </div>
              <div class="col-3 text-center rounded border border-custom py-2">
                <label>Corrected after FEC</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="performanceData.CorrectedBits"
                  disabled>
                <input type="text" class="form-control form-control-sm mt-1" [(ngModel)]="performanceData.CorrectedBytes"
                  disabled>
              </div>
              <div class="col-3 text-center rounded border border-custom py-2 ml-2">
                <label>Uncorrectable after FEC</label>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="performanceData.uncorrectableBits"
                  disabled>
                <input type="text" class="form-control form-control-sm mt-1" [(ngModel)]="performanceData.uncorrectableBytes"
                  disabled>
              </div>
            </div>
            <!-- FOURTH->THIRD BOX END -->
          </div>
          <!-- FOURTH BOX END -->
        </div>
        <h4 class="text-center mt-4" *ngIf="notFoundRHSData">There is no data found for this Node.</h4>
      </div>
    </div>
    <div class="footer">
      © Developed and Maintained by
      <strong id="tech">Tech</strong>
      <strong id="mahindra"> Mahindra </strong> Limited
      <!-- <br />Last Updated: 20th November, 2018 -->
    </div>
  </div>
</div>

<!-- The Treshold Configuration RX max Modal End -->

<!-- The Laser State Change Modal Start -->
<div *ngIf="showRight" class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="rounded border border-custom p-2 rounded shadow-container">
          <label>Laser Configuration</label>
          <div class="row px-3">
            <div class="col-md-12 text-left px-0">
              <select class="form-control form-control-sm" [(ngModel)]="rhsServiceData.laserState.laserControlConfiguration">
                <!-- <option value="FORCED-ON">ON</option>
                <option value="FORCED-OFF">OFF</option> -->
                <option value="PULSING">AUTOMATIC LASER SHUTDOWN</option>
              </select>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-md-3 text-left">
              <button class="btn btn-primary btn-sm" data-dismiss="modal" (click)="saveLaserConfig(rhsServiceData.laserState.laserControlConfiguration)">Save</button>
            </div>
            <div class="col-md-5 text-left"></div>
            <div class="col-md-4 text-right">
              <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Laser State Change Modal End -->
<!-- The Treshold Configuration RX min Modal Start -->
<div *ngIf="showRight" class="modal fade" id="RXMinModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="row justify-content-center">
        <div class="col-11 border border-custom rounded m-2">
          <h5 class="text-center mt-2">Threshold Configuration 1</h5>
          <div class="row justify-content-center px-3 py-2">
            <div class="col-12 border border-custom m-1 rounded shadow-container">

              <div *ngIf="RXminInvalid" class="alert alert-danger mt-1">
                <div *ngIf="RXMinField.errors?.required">
                  "RX min" is required.
                </div>
                <div *ngIf="RXminInvalid">
                  "RX min" must be between {{opticalPowerData.rx.RXMinAllowedMin}} and
                  {{opticalPowerData.rx.RXMinAllowedMax}}.
                </div>
              </div>
              <div class="row mr-0">
                <div class="col-md-3 text-center p-2 mt-3">
                  <label>Allowed min</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.RXMinAllowedMin"
                    required disabled>
                </div>
                <div class="col-md-3 text-center p-2 mt-3">
                  <label>RX min</label>
                  <input type="text" class="form-control form-control-sm" id="RXMinField" name="RXMinField" required
                    [(ngModel)]="opticalPowerData.rx.totalPowerWarnThresholdLower" #RXMinField="ngModel" pattern="^[\\-][0-9]{1,2}()*(([\\.,]{1}[0-9]{1})|())$"
                    title="Value must be between {{opticalPowerData.rx.RXMinAllowedMin}} and  {{opticalPowerData.rx.RXMinAllowedMax}}"
                    (keyup)="validateRXminValue()" [ngClass]="[(RXMinField.errors?.required || RXminInvalid ) == true ? 'invalid' : '' ]">
                </div>
                <div class="col-md-3 text-center p-2 mt-3">
                  <label>Allowed max</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.RXMinAllowedMax"
                    disabled>
                </div>
                <div class="col-md-3 text-center p-2 mt-2 rounded border border-custom">
                  <button class="btn btn-default btn-sm mb-1" (click)="setDefaultRXmin()">Set Default</button>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.totalPowerLowerWarnThresholdDefault"
                    required disabled>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-3 text-left">
                  <button class="btn btn-primary btn-sm" data-dismiss="modal" (click)="saveTotalPowerWarnThresholdLower(opticalPowerData.rx.totalPowerWarnThresholdLower)" [disabled]="RXMinField.errors?.required || RXminInvalid">Save</button>
                </div>
                <div class="col-md-6 text-left mt-3">Unit = dBm</div>
                <div class="col-md-3 text-right">
                  <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Treshold Configuration RX min Modal End -->
<!-- The Treshold Configuration RX max Modal Start -->
<div *ngIf="showRight" class="modal fade" id="RXMaxModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="row justify-content-center">
        <div class="col-11 border border-custom m-2">
          <h5 class="text-center mt-2">Threshold Configuration</h5>
          <div class="row justify-content-center px-3 py-2">
            <div class="col-12 border border-custom m-1 rounded shadow-container">
              <div *ngIf="RXmaxInvalid" class="alert alert-danger mt-1">
                <div *ngIf="RXMaxField.errors.required">
                  "RX max" is required.
                </div>
                <div *ngIf="RXmaxInvalid">
                  "RX max" must be between {{opticalPowerData.rx.RXMaxAllowedMin}} and
                  {{opticalPowerData.rx.RXMaxAllowedMax}}.
                </div>
              </div>
              <div class="row mr-0">
                <div class="col-md-3 text-center p-2 mt-3">
                  <label>Allowed min</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.RXMaxAllowedMin"
                    disabled>
                </div>
                <div class="col-md-3 text-center p-2 mt-3">
                  <label>RX max</label>
                  <input type="text" class="form-control form-control-sm" id="RXMaxField" name="RXMaxField" required
                    [(ngModel)]="opticalPowerData.rx.totalPowerWarnThresholdUpper" #RXMaxField="ngModel" pattern="^[\\-][0-9]{1,2}()*(([\\.,]{1}[0-9]{1})|())$"
                    title="Value must be between {{opticalPowerData.rx.RXMaxAllowedMin}} and  {{opticalPowerData.rx.RXMaxAllowedMax}}"
                    (keyup)="validateRXmaxValue()" [ngClass]="[(RXMaxField.errors?.required || RXmaxInvalid ) == true ? 'invalid' : '' ]">
                </div>
                <div class="col-md-3 text-center p-2 mt-3">
                  <label>Allowed max</label>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.RXMaxAllowedMax"
                    disabled>
                </div>
                <div class="col-md-3 text-center p-2 mt-2 rounded border border-custom">
                  <button class="btn btn-default btn-sm mb-1" (click)="setDefaultRXmax()">Set Default</button>
                  <input type="text" class="form-control form-control-sm" [(ngModel)]="opticalPowerData.rx.totalPowerUpperWarnThresholdDefault"
                    disabled>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-md-3 text-left">
                  <button class="btn btn-primary btn-sm" data-dismiss="modal" (click)="saveTotalPowerWarnThresholdUpper(opticalPowerData.rx.totalPowerWarnThresholdUpper)" [disabled]="RXMaxField.errors?.required || RXmaxInvalid">Save</button>
                </div>
                <div class="col-md-6 text-left mt-3">Unit = dBm</div>
                <div class="col-md-3 text-right">
                  <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- The Treshold Configuration RX max Modal End -->